@model IEnumerable<Library3.Models.User>
@{
    ViewBag.Title = "Users - ";
}

<a asp-action="Create">Create new</a> 

<table class="table">
    <tr><th>Ім'я</th><th></th></tr>
    @foreach (var user in Model)
    {
        @if (user.Name == User.Identity.Name || User.IsInRole("admin"))
        {
            <tr>
                <td>@user.Name</td>
                <td class="td">
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        @if (User.IsInRole("admin") && user.Name != "Admin")
                        {
                            <a asp-action="Edit" asp-controller="Roles" asp-route-userId="@user.Id">Role  </a>
                        }
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit  </a>
                        <a asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                        @if (user.Name == "Admin")
                        {
                            <input type="submit" class="knopka_all" style="margin-left:3%" value="Delete" disabled>
                        }
                        else
                        { <input type="submit" class="knopka_all" style="margin-left:3%" value="Delete">}

                    </form>
                </td>
            </tr>
        }

    }
</table>