@model IEnumerable<Library3.BookAuthors>

@{
    ViewData["Title"] = @ViewBag.authorName + " - ";
}

<h1>@ViewBag.authorName</h1>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create", "Create", new { id = ViewBag.authorId })
    </p>
}

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td class="td">
                    @if (User.IsInRole("admin"))
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete |</a>
                    }
                    @Html.ActionLink("Book", "Details", new { id = item.Id, name = item.Book.Name, num = item.Book.PagesNum })
                </td>
            </tr>
        }
    </tbody>
</table>
